<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.iet.pdf-reg">
    <require plugin="org.dita.pdf2"/>
    <feature extension="dita.conductor.transtype.check" value="pdf-reg"/>
    <feature extension="dita.transtype.print" value="pdf-reg"/>
    <feature extension="dita.conductor.target.relative" file="build.xml"/>
</plugin>
