**/build
**/bin
**/.project
**/.settings
**/.classpath
**/.gradle
**/.metadata
**/gradle.properties
**/test.properties
.recommenders
**/rsuite-plugin/test.properties
**/rsuite-batch-utils/logs
**/rsuite-batch-utils/setup/config/*.properties
**/rsuite-batch-utils/setup/cmd/*.cmd
**/rsuite-plugin/rsuite-git.token