table.assignArticle {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.assignArticle thead tr th, table.assignArticle tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.assignArticle thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.assignArticle tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.assignArticle tbody tr.odd td {
	background-color:#F0F0F6;
}

ul.assignArticleSelection {
  display: table;
  table-layout: fixed;
  margin: 0 auto 5px;
  padding: 0;
  width: 470px;
}

li.assignArticleSelection {
  display: table-cell;
  list-style-type: none;
}